<footer>

    <div class="footer">
        <div class="logo-imprint">
            <a href="#"><img src="./assets/img/logo.png" alt="Logo"></a>
            <a href="imprint" class="desktop-imprint">{{ "imprint.title" | translate }}</a>
        </div>

        <span class="copyright">© Rabia Ürkmez 2024</span>

        <div class="link-section">
            <a href="https://github.com/RabiaUerkmez" target="_blank"><img src="./assets/img/icons/github.png" alt="Github Link"></a>
            <a href="#contact"><img src="./assets/img/icons/email.png" alt="Contact me"></a>
            <a href="https://www.linkedin.com/in/rabia-%C3%BCrkmez/" target="_blank"><img src="./assets/img/icons/linkedin.png" alt="LinkedIn Link"></a>
        </div>

        <a href="imprint" class="mobile-imprint">{{ "imprint.title" | translate }}</a>
    </div>
</footer>