<div class="center-max-width">
    <div class="fix-btn">
    <a href="#"><img class="go-up-btn" src="./assets/img/icons/goup.png" alt="Go up Button"></a>
    <div class="main-content">
        <h1>Impressum</h1>


        <h2>Angaben gemäß § 5 TMG</h2>
        <p>Rabia &Uuml;rkmez<br />
            Im Gemmingstal 67<br />
            74074 Heilbronn</p>

        <h2>Kontakt</h2>
        <p>E-Mail: 111rabiaurkmez&#64;gmail.com</p>

        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>
</div></div>