<div class="center-max-width">
    <div class="fix-btn">
    <a routerLink="/" routerLinkActive="active"><img class="go-up-btn" src="./assets/img/icons/goup.png" alt="Go up Button"></a>
    <div class="main-content">
        <h1>{{ "imprint.title" | translate }}</h1>


        <h2>{{ "imprint.paragraph" | translate }}</h2>
        <p>Rabia &Uuml;rkmez<br />
            Im Gemmingstal 67<br />
            74074 Heilbronn</p>

        <h2>{{ "contact.title" | translate }}</h2>
        <p>E-Mail: mail&#64;rabia-uerkmez.de</p>

        <p>{{ "privacy.quelle" | translate }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>
</div></div>