@import './../../../styles.scss';

h1 {
    font-size: 80px;
}

h2 {
    font-size: 32px;
}

.fix-btn {
    @include dFlex($ai: end);
    flex-direction: column;
    padding: 160px 100px;
    a {
        img {
            rotate: 270deg;
            width: 40px;
            transition: 125ms ease-in-out;

            &:hover {
                filter: invert(49%) sepia(36%) saturate(4252%) hue-rotate(5deg) brightness(103%) contrast(99%);
                transition: 125ms ease-in-out;
            }
        }

    }
}

.main-content {
    

    p {
        font-size: 24px;
        letter-spacing: 0.1px;

        a{
            color: $pink;

            &:hover {
                color: $orange;
            }
        }
    }
}

@media (max-width: 650px) {

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 18px !important;
        }

        .fix-btn {
            a {
                img {
                    width: 32px;

                }
            }
        }
    }
