<div class="bg">
    <nav>
        <a href="#"><img src="./assets/img/logo.png" alt="Logo"></a>
        <div class="style-close-btn">
            <img (click)="closeBurger()" src="./../../assets/img/icons/close.png">
        </div>
    </nav>
    <div id="mobile-burger">
        <a href="#bout-me" class="hover">About me</a>
        <a href="#skills" class="hover">Skills</a>
        <a href="#portfolio" class="hover">Portfolio</a>
        <a href="#contact" class="hover">Contact</a>
    </div>
</div>