@import './../../../../styles.scss';

.center-max-width {
    padding-top: 120px;
}

.main-section {
    @include dFlex($jc: space-between, $g: 54px);
    padding: 37px 0 37px 100px;
    max-width: 1920px;
    width: 100vw;
    z-index: 8;

    .mobile-btn {
        display: none;
    }
}

a {
    text-decoration: none;
}

.left-section {
    @include dFlex($jc: start, $ai: start, $g: 100px);
    flex-wrap: wrap;
    row-gap: 54px;
    max-width: 720px;
    z-index: 8;

    div {
        @include dFlex($g: 10px);
        flex-direction: column;
        width: 100px;

        img:hover {
            animation: jump 1s ease infinite;

            @keyframes jump {
                0%,
                50%,
                100% {
                    transform: translateY(0);
                }

                40% {
                    transform: translateY(-30px);
                }

                80% {
                    transform: translateY(-15px);
                }
            }
        }
    }

    span {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}


.right-section {
    @include dFlex($g: 35px);
    flex-direction: column;
    width: 500px;
}

.text-section {
    @include dFlex($g: 35px);
    flex-direction: column;

    h2 {
        font-size: 90px;
        font-weight: 700;
        margin: 0;
    }

    span {
        text-align: end;
        font-size: 16px;
        padding-right: 100px;
        width: 500px;
    }
}

.headline {
    @include dFlex($g: 16px);
    width: 100vw;

    h2 {
        font-size: 90px;
        font-weight: 700;
        margin: 0;
    }

    .empty-box {
        @include dFlex;
        flex: 1;

        .empty-line {
            width: 100%;
        }
    }

    .right-line {

        @include dFlex;
        flex: 1;

        .short-line {
            width: 100%;
            height: 4px;
            background-color: $pink;
        }
    }
}

button {
    background-color: $orange;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    height: 58px;
    padding: 15px 30px;
    border-radius: 10px;
    border: 0;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    transition: 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $pink;
    }
}


.shade {
    position: absolute;
    left: 0;
    z-index: -99;
}


@media (max-width: 1200px) {
    .main-section {
        padding: 0;
        flex-direction: column-reverse;
        @include dFlex($jc: space-around, $g: 160px);


        .desktop-btn {
            display: none;
        }

        .mobile-btn {
            display: block;
            z-index: 8;
        }
    }
}


@media (max-width: 1100px) {
    .right-section {
        padding-left: 40%;
    }
}

@media (max-width: 900px) {
    .right-section {
        padding-left: 30%;
    }

    .left-section {
        column-gap: 90px;
    }
}

@media (max-width: 700px) {
    .main-section {
        gap: 132px;
    }

    .right-section {
        padding-left: 20%;
    }

    .left-section {
        justify-content: center;

        span {
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    .right-section {
        padding-left: 10%;

        span {
            width: 400px;
            padding-right: 0;
        }
    }

    .shade {
        width: 320px;
    }
}

@media (max-width: 550px) {
    .main-section {
        @include dFlex($jc: space-evenly, $g: 96px);

    }

    .right-section {
        padding-left: 0;

        h2 {
            font-size: 80px;
        }

        span {
            width: 350px;
        }
    }

    .left-section {
        column-gap: 60px;

        img {
            width: 48px;
        }
    }
}


@media (max-width: 450px) {
    .right-section {
        h2 {
            font-size: 64px;
        }

        span {
            width: 280px !important;
        }
    }

    button {
        height: 48px;
        font-size: 16px;
    }

    .left-section {
        column-gap: 32px;

        img {
            width: 40px;
        }
    }

    .shade {
        width: 240px;
    }
}

@media (max-width: 400px) {
    .left-section {
        gap: 40px 24px;
    }
}

@media (max-width: 380px) {

    h2 {
        font-size: 48px !important;
    }

    .left-section {
        column-gap: 16px;

        div {
            width: 90px;
        }

        img {
            width: 32px;
        }

        span {
            font-size: 12px;
        }
    }

    .shade {
        width: 180px;
    }
}

@media (max-width: 340px) {

    h2 {
        font-size: 40px !important;
    }

    .left-section {
        gap: 32px 0;
    }
}