<div class="center-max-width">
    <div class="main-section">
        <a class="mobile-btn" href="#contact"><button>{{ "skills.btn" | translate }}</button></a>
        <div class="left-section" data-aos="fade-right">
            <div>
                <img src="./assets/img/icons/angular.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div>
                <img src="./assets/img/icons/typescript.png" alt="TypeScript">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./assets/img/icons/javascript.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>
            <div>
                <img src="./assets/img/icons/html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div>
                <img src="./assets/img/icons/firebase.png" alt="Firebase">
                <span>Firebase</span>
            </div>
            <div>
                <img src="./assets/img/icons/git.png" alt="GIT">
                <span>GIT</span>
            </div>
            <div>
                <img src="./assets/img/icons/css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div>
                <img src="./assets/img/icons/api.png" alt="Rest-Api">
                <span>Rest-Api</span>
            </div>
            <div>
                <img src="./assets/img/icons/scrum.png" alt="Scrum">
                <span>Scrum</span>
            </div>
            <div>
                <img src="./assets/img/icons/material.png" alt="Materialdesign">
                <span>Material design</span>
            </div>
        </div>

        <div class="right-section" data-aos="fade-left">
            <div class="text-section">

                <div class="headline">
                    <div class="empty-box">
                        <div class="empty-line"></div>
                    </div>
                    <div>
                        <h2>{{ "skills.skills" | translate }}</h2>
                    </div>

                    <div class="right-line">
                        <div class="short-line"></div>
                    </div>
                </div>


                <span>{{ "skills.title" | translate }}</span>
            </div>

            <a href="#contact"><button class="desktop-btn">{{ "skills.btn" | translate }}</button></a>
        </div>
        <img class="shade" src="./assets/img/shades/skill.png">
    </div>
</div>