<div class="center-max-width">

    <div class="line"></div>
    <div class="space-between" [ngClass]="{'paddingGerman': languageService.german}">
        <div class="link-section">
            <div class="just-links">
                <a href="https://github.com/RabiaUerkmez" target="_blank"><img src="./assets/img/icons/github.png"
                        alt="Github Link"></a>
                <a href="#contact"><img src="./assets/img/icons/email.png" alt="Contact me"></a>
                <a href="https://www.linkedin.com/in/rabia-%C3%BCrkmez/" target="_blank"><img
                        src="./assets/img/icons/linkedin.png" alt="LinkedIn Link"></a>
                <a href="#contact">111rabiaurkmez&#64;gmail.com</a>
            </div>
        </div>

        <div class="scroll-section" [ngClass]="{'scrollGerman': languageService.german}">
            <span>{{ "scroll.scroll" | translate }}</span>
            <img src="./assets/img/icons/arrow-down.png" alt="Arrow down">
        </div>
    </div>
    <div class="empty-line"></div>
</div>