<div class="center-max-width">
    <div class="main-content">
        <div class="fix-btn">
            <h1>{{ "privacy.h1" | translate }}</h1>
            <a routerLink="/" routerLinkActive="active">
                <img class="go-up-btn" src="./assets/img/icons/goup.png" alt="Go up Button"></a>
        </div>
        <h2>{{ "privacy.blick" | translate }}</h2>
        <h3>{{ "privacy.h3-hinweise" | translate }}</h3>
        <p>{{ "privacy.p-hinweise" | translate }}</p>

        <h3>{{ "privacy.h3-datenerfassung" | translate }}</h3>
        <h4>{{ "privacy.h4-verantwortlich" | translate }}</h4>
        <p>{{ "privacy.p-verantwortlich" | translate }}</p>

        <h4>{{ "privacy.h3-erfassen" | translate }}</h4>
        <p>{{ "privacy.p-erfassen" | translate }}</p>

        <h4>{{ "privacy.h4-nutzung" | translate }}</h4>
        <p>{{ "privacy.p-nutzung" | translate }}</p>

        <h4>{{ "privacy.h4-rechte" | translate }}</h4>
        <p>{{ "privacy.p-rechte" | translate }}</p>

        <h2>{{ "privacy.h4-hosting" | translate }}</h2>
        <p>{{ "privacy.p-hosting" | translate }}</p>

        <h3>All-Inkl</h3>

        <p>{{ "privacy.p-inkl" | translate }}
            <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.
        </p>

        <p>{{ "privacy.p-inkl-second" | translate }}</p>

        <h4>{{ "privacy.h4-auftragsverarbeitung" | translate }}</h4>

        <p>{{ "privacy.p-auftragsverarbeitung" | translate }}</p>

        <h2>{{ "privacy.h4-pflichtinfo" | translate }}</h2>

        <h3>{{ "privacy.h4-datenschutz" | translate }}</h3>
        <p>{{ "privacy.p-datenschutz-1" | translate }}</p>
        <p>{{ "privacy.p-datenschutz-2" | translate }}</p>
        <p>{{ "privacy.p-datenschutz-3" | translate }}</p>

        <h3>{{ "privacy.h4-hinweisVerantwortlich" | translate }}</h3>
        <p>{{ "privacy.p-hinweisVerantwortlich" | translate }}</p>
        <p>Rabia &Uuml;rkmez<br />
            Im Gemmingstal 67<br />
            74074 Heilbronn</p>

        <p>E-Mail: mail&#64;rabia-uerkmez.de</p>

        <p>{{ "privacy.p-hinweisVerantwortlichtxt" | translate }}</p>

        <h3>{{ "privacy.h4-speicherdauer" | translate }}</h3>
        <p>{{ "privacy.p-speicherdauer" | translate }}</p>

        <h3>{{ "privacy.h3-rechtsgrundlage" | translate }}</h3>
        <p>{{ "privacy.p-rechtsgrundlage" | translate }}</p>

        <h3>{{ "privacy.h3-personenbezogeneDaten" | translate }}</h3>
        <p>{{ "privacy.p-personenbezogeneDaten" | translate }}</p>


        <h3>{{ "privacy.h3-widerrufen" | translate }}</h3>

        <p>{{ "privacy.p-widerrufen" | translate }}</p>


        <h3>{{ "privacy.h3-widerspruchsrecht" | translate }}</h3>
        <p>{{ "privacy.p-widerspruchsrecht" | translate }}</p>


        <h3>{{ "privacy.h3-beschwerderecht" | translate }}</h3>
        <p>{{ "privacy.p-beschwerderecht" | translate }}</p>

        <h3>{{ "privacy.h3-ubertragbarkeit" | translate }}</h3>
        <p>{{ "privacy.p-ubertragbarkeit" | translate }}</p>

        <h3>{{ "privacy.h3-auskunft" | translate }}</h3>
        <p>{{ "privacy.p-auskunft" | translate }}</p>


        <h3>{{ "privacy.h3-rechtVerarbeitung" | translate }}</h3>
        <p>{{ "privacy.p-rechtVerarbeitung" | translate }}</p>

        <ul>
            <li>{{ "privacy.list-rechtVerarbeitung-1" | translate }}</li>
            <li>{{ "privacy.list-rechtVerarbeitung-2" | translate }}</li>
            <li>{{ "privacy.list-rechtVerarbeitung-3" | translate }}</li>
            <li>{{ "privacy.list-rechtVerarbeitung-4" | translate }}</li>
        </ul>

        <p>{{ "privacy.p-rechtVerarbeitung-txt" | translate }}</p>


        <h3>{{ "privacy.h3-ssl" | translate }}</h3>
        <p>{{ "privacy.p-ssl" | translate }}</p>

        <p>{{ "privacy.p-ssl-2" | translate }}</p>

        <h2>{{ "privacy.h2-dataCol" | translate }}</h2>

        <h3>{{ "privacy.h3-formular" | translate }}</h3>
        <p>{{ "privacy.p-formular-1" | translate }}</p>

        <p>{{ "privacy.p-grundlage" | translate }}</p>

        <p>{{ "privacy.p-formular-3" | translate }}</p>

        <h3>{{ "privacy.h3-anfrage" | translate }}</h3>

        <p>{{ "privacy.p-anfrage-1" | translate }}</p>

        <p>{{ "privacy.p-grundlage" | translate }}</p>

        <p>{{ "privacy.p-anfrage-3" | translate }}</p>


        <h2>{{ "privacy.h2-plugins" | translate }}</h2>
        <h3>{{ "privacy.h3-googlefonts" | translate }}</h3>

        <p>{{ "privacy.p-googlefonts" | translate }}</p>

        <p>{{ "privacy.weiterInfos" | translate }}<a href="https://developers.google.com/fonts/faq" target="_blank"
                rel="noopener noreferrer">https://developers.google.com/fonts/faq</a>
            {{ "privacy.weiterInfos-2" | translate }}
            <a href="https://policies.google.com/privacy?hl=de" target="_blank"
                rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.
        </p>
        <p>{{ "privacy.quelle" | translate }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

        <p>© Rabia Ürkmez 2024</p>

        <p>{{ "privacy.datenschutz" | translate }}</p>

    </div>
</div>