<div class="center-max-width">
    <div class="me">
        <div class="img-section">
            <img class="big-shade" src="./assets/img/shades/bigshade.png">
            <div class="placeholder">o</div>
        </div>
    
        <div class="right-section">
            <div>
                <h3 [ngClass]="{'styleHeaderGerman': languageService.german}">{{ "landing.iAm" | translate }}</h3>
    
                <div class="title">
                    <h1>Rabia Ürkmez</h1>
                    <h2>{{ "landing.title" | translate }}</h2>
                </div>
            </div>
            <a href="#contact"><button>{{ "landing.talk" | translate }}</button></a>
        </div>
    
    </div>
    <div class="shadow-section">
        <img class="atf display" src="./assets/img/atf.png">
        <img class="atf mobile" src="./assets/img/atf-mobile.png">
    </div>
</div>