<div class="center-max-width">

    <img class="shade" src="./assets/img/shades/boutme.png" alt="">
    <div class="empty-line"></div>
    <div class="main-section">
        <div class="left-section" data-aos="fade-right">
            <h2>About me</h2>

            <div class="text-section">

                <span>
                    Hello and welcome to my website! I am a Front-end developer based in Heilbronn, Germany who loves
                    solving problems and taking on new challenges.<br>I am
                    very happy that you found your way here.


                </span>

                <div class="personal-section">
                    <img src="./assets/img/icons/bulb.png" alt="bulb">
                    <span>I really enjoy finding creative and effective solutions to design digital experiences. The
                        diversity and dynamism of programming inspires me every day.</span>
                </div>

                <div class="personal-section">
                    <img src="./assets/img/icons/puzzle.png" alt="puzzle">
                    <span>I am disciplined and have a logical understanding, which helps me to deal with even more
                        complex issues.
                        Feel free to explore my projects to get a sense of what I've been working on.
                    </span>
                </div>
            </div>
        </div>

        <div class="right-section" data-aos="fade-left">
            <div class="cycleImg"></div>
        </div>
    </div>
    <div class="orange-line"></div>
</div>