<div class="center-max-width">

    <img class="shade" src="./assets/img/shades/boutme.png" alt="">
    <div class="empty-line"></div>
    <div class="main-section">
        <div class="left-section" data-aos="fade-right">
            <h2>{{ "aboutMe.me" | translate }}</h2>

            <div class="text-section">

                <span>{{ "aboutMe.hello" | translate }}</span>

                <div class="personal-section">
                    <img src="./assets/img/icons/bulb.png" alt="bulb">
                    <span>{{ "aboutMe.bulb" | translate }}</span>
                </div>

                <div class="personal-section">
                    <img src="./assets/img/icons/puzzle.png" alt="puzzle">
                    <span>{{ "aboutMe.puzzle" | translate }}</span>
                </div>
            </div>
        </div>

        <div class="right-section" data-aos="fade-left">
            <div class="cycleImg"></div>
        </div>
    </div>
    <div class="orange-line"></div>
</div>